@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Roboto:wght@400;700&family=Ubuntu&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}


body {
    padding: 0;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(141,29,249,1) 100%);
}

button {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}